/*Global Styles */
*{
    margin: 0;
    padding: 5px;
}


body {
    background-color: rgb(37, 58, 115)
}

img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

nav,
header,
section,
footer {
    background-color: rgb(202, 214, 220);
}

/*Mobile Styles */

#container {
    margin: 10px;
}

p {
    margin: 10px
}

nav {margin-bottom: 10px;
    text-align: center;
    padding: 5px;

}

nav ul {
    list-style-type: none;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    background-color: rgb(37, 58, 115);
    margin: 10px 0;
    height: 40px;
    line-height: 40px;
    font-size: 2.5em;
    font-weight: bold;
    text-decoration: none;
    color:rgb(247, 247, 250);
    border-bottom: 4px solid #0f73ed;
}

header {
       padding: 20px;
}
section {
    margin: 10px 0;
    padding: 10px;
}

.col {
    margin: 10px 0;
    padding: 10px
}

#lower_area {
    background-color:rgb(202, 214, 220);
    padding: 10px;
}

.column {
    margin: 10px;
    padding: 10px;
    border-bottom: 4px solid #8E236D;
}

.column img {
    width: 75%;
}

footer {
    padding: 40px 0;
    text-align: center;
}

/* Tablet Styles */

@media (min-width: 768px) {

    nav {
        padding: 20px;
    }
    
    nav li {
        display: inline-block;
    }

    nav li a {
        width: 150px;
        border-radius: 10px;

    }

    #multi_col {
        display: flex;
    }

    .col {
        width: 50%;
    }

    .column img {
        width: 40%;
    }
}
/* Desktop Styles */

@media (min-width: 1024px) {
    nav li a {
        background-color: rgb(37, 58, 115);
    }

    nav li a:hover {
        border-bottom: 8px solid #0f73ed
    }
    #container {
        width: 75%;
        margin: 0 auto;
    }

#lower_area {
    display: flex;
}

.column img {
    width: 75%;
}
}
